html {
    background-color: rgba(142, 157, 59, 0.3);
}

header {
    background-color: rgba(113, 30, 30, 0.731);
    width: 100vw;
    position: relative;
    padding: 10px;
}

header h1 { 
    padding: 10px;
    margin: 10px;
    background-color: white;
    width: fit-content;
    border-radius: 8px;
    box-shadow: 0px 4px 18px 7px black;
}

header ul a {
    color:black;
}

header ul a:hover {
    font-size: 17px;
    transition: 0.3s;
    color:white;
}

main {
    padding: 50px;
    background-color: rgba(142, 157, 59, 0.3);
}

footer {
    font-size: small;
    position: relative;
    left: 20px;
}

.navItem {
    list-style: none;
    display: flex;
    margin: 12px 20px;
    padding: 10px;
}

.post-card {
    background-color: rgba(142, 157, 59, 0.3);
    border: 4mm ridge rgba(113, 30, 30, 0.731);
}

.post-header {
    background-color: rgba(113, 30, 30, 0.731);
    color: white;
    padding: 10px;
}

.create-card {
    outline: 0.5rem solid rgb(0, 0, 0);
    margin-top: 50px;
}

.create-card h3 {
    background-color: black;
    padding: 10px;
    color: white;
}

.form-content {
    
    height: fit-content;
}

#login-signUp-form {
    width: 75%;
    margin: auto;
}

textarea {
    min-height: 200px;
}

form label {
    font-size: larger;
    margin-top: 10px;
}